@media (max-width: 991px){

  html{
    font-size: 55%;
  }

  .header{
    padding: 2rem 3rem;
  }

  section{
    padding: 3rem 2rem;
  }

}

@media (max-width: 768px){

  #menu{
    display: inline-block;
  }

  .header .navbar{
    position: absolute;
    top: 110%; right: -110%;
    width: 30rem;
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    background: #fff;
  }

  .header .navbar.active{
    right: 2rem;
    transition: .4s linear;
    background-color: rgba(0, 0, 0, 0.89);
  }

  .header .navbar a{
    font-size: 2rem;
    margin: 2rem 2.5rem;
    display: block;
  }

  .home .content h3{
    font-size: 5rem;
  }

  .home .row .content{
    text-align: center;
  }

  .home .row .content h3{
    font-size: 3.5rem;
  }
  .content{
    margin-bottom: -22%;
  }

}

@media (max-width: 425px){
  html{
    font-size: 50%;
  }
  .content{
    margin-top: -10%;
    margin-bottom: -45%;
  }
}