@media (max-width: 991px) {

  html {
    font-size: 55%;
  }

  .header {
    padding: 2rem 3rem;
  }

  section {
    padding: 3rem 2rem;
  }

}

@media (max-width: 768px) {

  #menu {
    display: inline-block;
  }

  .header .navbar {
    position: absolute;
    top: 110%;
    right: -110%;
    width: 30rem;
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    background: #fff;
  }

  .header .navbar.active {
    right: 2rem;
    transition: .4s linear;
    background-color: rgba(0, 0, 0, 0.89);
  }

  .header .navbar a {
    font-size: 2rem;
    margin: 2rem 2.5rem;
    display: block;
  }

  .home .content h3 {
    font-size: 5rem;
  }

  .home .row .content {
    text-align: center;
  }

  .home .row .content h3 {
    font-size: 3.5rem;
  }

  .content {
    margin-bottom: -22%;
  }

  /* ABOUT */
  .about .row {
    flex-direction: column;
  }

  .about .image-item {
    text-align: center;
    margin: 5px;
    margin-top: 150px;
  }

  .about .image-name {
    font-size: 1.4rem;
  }
}

@media (max-width: 425px) {
  html {
    font-size: 50%;
  }

  .content {
    margin-top: -10%;
    margin-bottom: -45%;
  }
}

/*CASTS*/
@media screen and (min-width: 992px) {
  .wrappercast {
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
  
  .containercast {
    height: 400px;
    width: 300px;
    padding: 15px;
  }
}

/*BOOKS*/
@media (max-width: 992px) {
  .el-wrapper {
    width: 100%; /* Make it full-width on smaller screens */
    max-width: none; /* Remove max-width for full responsiveness */
    margin: 10px auto; /* Add some margin for spacing between cards */
  }

  .el-wrapper .box-up .img {
    padding: 10px 0; /* Adjust padding for smaller screens */
  }

  .info-inner .p-name {
    font-size: 16px; /* Adjust font size for smaller screens */
  }

  .info-inner .p-company {
    font-size: 10px; /* Adjust font size for smaller screens */
  }

  .page-wrapper,
  .page-inner {
    display: block; /* Remove table layout on smaller screens */
    height: auto; /* Adjust height for smaller screens */
  }

  .el-wrapper .box-up,
  .el-wrapper .box-down,
  .el-wrapper .img {
    height: auto; /* Adjust height for smaller screens */
    width: 100%; /* Make images and boxes full width */
  }

  .el-wrapper .box-up {
    text-align: center; /* Center the content */
  }

  .el-wrapper .img {
    padding: 0; /* Reset padding for images */
  }

  .info-inner {
    position: relative; /* Reset position for info-inner */
    bottom: auto; /* Reset position for info-inner */
  }
}