@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,700;0,900;1,400;1,700&display=swap');

:root {
  --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

* {
  font-family: 'Playfair Display', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  list-style: none;
  transition: all .2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

html::-webkit-scrollbar {
  width: .6rem;
}

html::-webkit-scrollbar-track {
  background: #fff;
}

html::-webkit-scrollbar-thumb {
  background: var(--primary-color);
}

section {
  padding: 3rem 7%;
}

.heading {
  font-size: 4rem;
  margin: 4rem 0;
  color: var(--primary-color);
  text-align: center;
}

.btn {
  margin-top: 1rem;
  background: rgba(196, 193, 193, 0.315);
  color: #fff;
  display: inline-block;
  border-radius: 5rem;
  box-shadow: var(--box-shadow);
  padding: 1rem 4rem;
  font-size: 1.7rem;
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.btn::before,
.btn::after {
  content: '';
  position: absolute;
  top: 0;
  height: 100%;
  width: 0%;
  background: #8f8282;
  z-index: -1;
  transition: .3s linear;
}

.btn::before {
  left: 0;
}

.btn::after {
  right: 0;
}

.btn:hover::before,
.btn:hover::after {
  width: 100%;
}

/*==================== HEADER ====================*/

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 9%;
  background: rgba(196, 193, 193, 0.315);
  box-shadow: var(--box-shadow);
}

.header .logo {
  font-size: 2.5rem;
  font-weight: bolder;
  color: white;
}

.header .logo i {
  color: white;
  padding-right: .5rem;
}

.header .navbar a {
  font-size: 2rem;
  color: white;
  margin-left: 2rem;
  text-transform: uppercase;
  letter-spacing: 5px;

  transition: background .25s, box-shadow .15s;

  &:hover {
    color: rgb(233, 226, 226);
    box-shadow: 0px 4px 0px 0px black;
  }
}

#menu {
  font-size: 2.5rem;
  cursor: pointer;
  color: white;
  display: none;
}

/*==================== HOME SECTION ====================*/

.home {
  background-color: #252525;
  background-size: cover;
  background-position: center;
}

.home .row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;

}

.home .row .content {
  flex: 1 1 42rem;
}

.home .row .books-slider {
  flex: 1 1 42rem;
  text-align: center;
  margin-top: 10rem;
}

.home .row .books-slider a img {
  height: 25rem;
}

.home .row .books-slider a:hover img {
  transform: scale(.9);
}

.home .row .content h3 {
  color: whitesmoke;
  font-size: 4.5rem;

}

.home .row .content {
  font-size: 1.4rem;
  line-height: 2;
  padding: 10rem 0;
  color: whitesmoke;
}

.home .row .content p {
  font-size: 2rem;
}

.portfolio__container {
  overflow: initial;
}

.portfolio__content {
  padding: 0 1.5rem;
}

.portfolio__img {
  width: 265px;
  border-radius: .5rem;
  justify-self: center;
}

.portfolio__title {
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-0-5);
}

.portfolio__description {
  margin-bottom: var(--mb-0-75);
}

.portfolio__button:hover .button__icon {
  transform: translateX(.25rem);
}

/*==================== SWIPER CSS IN HOME ====================*/
/*.swiper-button-prev::after,
.swiper-button-next::after{
  content: '';
}*/

.swiper-portfolio-icon {
  font-size: 2rem;
  color: var(--first-color);
}

.swiper-button-prev {
  left: -.5rem;
}

.swiper-button-next {
  right: -.5rem;
}

.swiper-container>.swiper-pagination-bullets {
  bottom: -2.5rem;
}

.swiper-pagination-bullet-active {
  background-color: var(--first-color);
}

.swiper-button-next,
.swiper-button-prev,
.swiper-pagination-bullet {
  outline: none;
}


/*==================== ABOUT SECTION ====================*/
.about {
  background-color: #252525;
  color: whitesmoke;
  width: 100%;
}

.about .row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.about .row .content {
  flex: 1 1 40rem;
}

.about .row .content h3 {
  font-size: 2.5rem;
  color: whitesmoke;
  padding: 1rem 0;
}

.about .row .content p {
  font-size: 2rem;
  color: whitesmoke;
  padding: 1rem 0;
  line-height: 2;
}

.about .row .content .btn {
  margin: 3rem 0;
}

.about .row .image {
  flex: 1 1 30rem;
}

.about .row .image img {
  max-width: 100%;
  height: auto;
}

.about .image-container {
  display: flex;
  align-items: center;
}

.about .image-item {
  text-align: center;
  margin: 0 10px;
  position: relative;
}

.about .image-item img {
  transform: 0.3s;
}

.about .image-name {
  font-size: 1.5rem;
  color: whitesmoke;
  margin-top: 1rem;
  text-decoration: underline;
}

.image-item:hover img {
  transform: scale(1.1);
}

/*==================== MOVIE SECTION ====================*/
.movie {
  background: #252525;
}

.movie .heading {
  color: whitesmoke;
}

.movie .movie-box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.movie .movie-box-container .movie-box {
  box-shadow: var(--box-shadow);
}

.movie .movie-box-container .movie-box .image {
  height: 30rem;
  width: 100%;
  overflow: hidden;
}

.movie .movie-box-container .movie-box .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.movie .movie-box-container .movie-box:hover .image img {
  transform: scale(0.9);
}

.movie .movie-box-container .movie-box .movie-content {
  padding: 3rem 3.5rem;
}

.movie .movie-box-container .movie-box .movie-content h3 {
  font-size: 2.2rem;
  color: whitesmoke;
  cursor: default;
}

.movie .movie-box-container .movie-box .movie-content .icons {
  padding-top: 1.7rem;
  color: whitesmoke;
}

.movie .movie-box-container .movie-box .movie-content .icons a {
  font-size: 1.4rem;
  color: whitesmoke;
}

.movie .movie-box-container .movie-box .movie-content .icons a:hover {
  color: #8f8282;
}

.movie .movie-box-container .movie-box .movie-content .icons a i {
  color: var(--primary-color);
  padding-right: .5rem;
}

.movie .movie-box-container .movie-box .movie-content p {
  font-size: 1.8rem;
  color: whitesmoke;
  line-height: 2;
  padding: 1rem 0;
}