@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,700;0,900;1,400;1,700&display=swap');

:root{
  --main-color:#022988;
  --primary-color: #ef5068;
  --black:#13131a;
  --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}

*{
  font-family: 'Playfair Display', sans-serif;
  margin: 0; padding: 0;
  box-sizing: border-box;
  outline: none; border: none;
  text-transform: capitalize;
  text-decoration: none;
  list-style: none;
  transition: all .2s linear;
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

html::-webkit-scrollbar{
  width: .6rem;
}

html::-webkit-scrollbar-track{
  background: #fff;
}

html::-webkit-scrollbar-thumb{
  background: var(--primary-color);
}

section{
  padding: 3rem 7%;
}

.heading{
  font-size: 4rem;
  margin: 4rem 0;
  color: var(--primary-color);
  text-align: center;
}

.btn{
  margin-top: 1rem;
  background: var(--primary-color);
  color: #fff;
  display: inline-block;
  border-radius: 5rem;
  box-shadow: var(--box-shadow);
  padding: 1rem 4rem;
  font-size: 1.7rem;
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.btn::before,
.btn::after{
  content: '';
  position: absolute;
  top: 0;
  height: 100%;
  width: 0%;
  background: #bd394c;
  z-index: -1;
  transition: .3s linear;
}

.btn::before{
  left: 0;
}

.btn::after{
  right: 0;
}

.btn:hover::before,
.btn:hover::after{
  width: 100%;
}

/* header */

.header{
  position: fixed;
  top: 0; left: 0; right: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 9%;
  background: #f0f4ff;
  box-shadow: var(--box-shadow);
}

.header .logo{
  font-size: 2.5rem;
  font-weight: bolder;
  color: var(--black);
}

.header .logo i{
  color: var(--main-color);
  padding-right: .5rem;
}


.header .navbar a{
  font-size: 2rem;
  color: var(--black);
  margin-left: 2rem;
  text-transform: uppercase;
  letter-spacing: 5px;
  
  transition: background .25s, box-shadow .15s;
  &:hover {
    color: #4A4860;
    background: white;
    box-shadow: 0px 4px 0px 0px #BB8EAC;
  }
}

.header .navbar a:hover{
  color: var(--primary-color);
}

#menu{
  font-size: 2.5rem;
  cursor: pointer;
  color: var(--black);
  display: none;
}

.home{
    /*background: ;*/
    background-size: cover;
    background-position: center;
}



.home .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;

}

.home .row .content{
    flex: 1 1 42rem;
}
 
.home .row .books-slider{
    flex: 1 1 42rem;
    text-align: center;
    margin-top: 10rem;
}

.home .row .books-slider a img{
    height: 25rem;
}

.home .row .books-slider a:hover img{
    transform: scale(.9);
}

.home .row .content h3{
    color: var(--black);
    font-size: 4.5rem;
}

.home .row .content{
    color: var(--light-color);
    font-size: 1.4rem;
    line-height: 2;
    padding: 10rem 0;
}

.home__scroll{
    display: none;
}
  
.home__scroll-button{
    color: var(--first-color);
    transition: .3s;
}
  
.home__scroll-button:hover{
    transform: translateY(0.25rem);
    /*WILL CHANGE THE COLOR*/
    color: yellow;
}
  
.home__scroll-mouse{
    font-size: 2rem;
}
  
.home__scroll-name{
    font-size: var(--small-font-size);
    color: var(--title-color);
    font-weight: var(--font-medium);
    margin-right: var(--mb-0-25);
}
  
.home__scroll-arrow{
    font-size: 1.25rem;
}

.portfolio__container{
  overflow: initial;
}

.portfolio__content{
  padding: 0 1.5rem;
}

.portfolio__img{
  width: 265px;
  border-radius: .5rem;
  justify-self: center;
}

.portfolio__title{
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-0-5);
}

.portfolio__description{
  margin-bottom: var(--mb-0-75);
}

.portfolio__button:hover .button__icon{
  transform: translateX(.25rem);
}
/*==================== PROJECT IN MIND ====================*/
/*.swiper-button-prev::after,
.swiper-button-next::after{
  content: '';
}*/

.swiper-portfolio-icon{
  font-size: 2rem;
  color: var(--first-color);
}

.swiper-button-prev{
  left: -.5rem;
}
.swiper-button-next{
  right: -.5rem;
}

.swiper-container > .swiper-pagination-bullets{
  bottom: -2.5rem;
}

.swiper-pagination-bullet-active{
  background-color: var(--first-color);
}

.swiper-button-next,
.swiper-button-prev,
.swiper-pagination-bullet{
  outline: none;
}
